body {
  color: #333;
  font-family: Verdana, sans-selif;
  margin: 0;
}

header {
  background-color: #efefef;
  padding: 32px 0;
}

.container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.icon img {
  border-radius: 50%;
  border: 4px solid white;
}

.info {
  margin: 0 auto;
}

.info h1 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.info p {
  margin: 0;
  margin-bottom: 16px;
}

.info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.info ul li {
  margin-right: 8px;
  font-size: 20px;
}

.info ul li:hover {
  opacity: 0.7;
  transition: 0.15s;
}

.info ul li a {
  background-color: pi;
}

.works {
  width: 400px;
  margin: 0 auto;
}

.works > h1 {
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin: 60px 0;
}

.works > section {
  margin-bottom: 60px;
}

.works p {
  line-height: 1.8;
}

.works img {
  border: 1px solid gainsboro;
}

.works img:hover {
  opacity: 0.7;
  transition: 0.15s;
}

.works > section > h1 {
  font-weight: normal;
}

footer p {
  text-align: center;
  font-size: 14px;
  margin-bottom: 60px;
  color: gray;
}
